{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
        
            <table class="table table-success table-striped table-hover">
                
                <thead class="table-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                </tr>
               
            <tbody class="table-group-divider">
            {% for record in records %}
                
                    <tr>
                        <td><a href="{% url 'record' record.id %}" >{{record.first_name}} {{record.last_name}}</a></td>
                        <td>{{record.address}}</td>
                        <td>{{record.email}}</td>
                        <td>{{record.phone}}</td>
                    </tr>
                
            {% endfor %}
                </thead>
            </table>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">

                <a href= "{% url 'add-record' %}">
                    <button type="button" class="btn btn-warning">Create Record</button>
                </a>
            </div>
        
    {% else %}
    <h1>Login</h1>
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <form>
            <div class="mb-3">

                <input type="text" class="form-control" placeholder="Username" name="username" required>

            </div>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Password" name="password" required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </form>
    

{% endif %}
{% endblock %}